################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saistones.Api/.vs/Saistones.Api
/Saistones.Api/bin/Debug/net9.0
/Saistones.Api/obj
